In [32]:
import pandas as pd 

df=pd.read_csv('pokemon_data.csv')
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [33]:
df_xlsx=pd.read_excel('pokemon_data.xlsx')
df_xlsx

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [34]:
df_csv=pd.read_csv('pokemon_data.csv')
df_csv

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [35]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [36]:
df[['Name', 'Type 1', 'Type 2', 'HP']]

                      Name   Type 1  Type 2  HP
0                Bulbasaur    Grass  Poison  45
1                  Ivysaur    Grass  Poison  60
2                 Venusaur    Grass  Poison  80
3    VenusaurMega Venusaur    Grass  Poison  80
4               Charmander     Fire     NaN  39
..                     ...      ...     ...  ..
795                Diancie     Rock   Fairy  50
796    DiancieMega Diancie     Rock   Fairy  50
797    HoopaHoopa Confined  Psychic   Ghost  80
798     HoopaHoopa Unbound  Psychic    Dark  80
799              Volcanion     Fire   Water  80

[800 rows x 4 columns]

In [37]:
df.iloc[2,1]

'Venusaur'

In [38]:
for index, row in df.iterrows():
    print(index,row, '\n')

         62
Sp. Def           57
Speed             52
Generation         6
Legendary      False
Name: 740, dtype: object

741 #                673
Name          Gogoat
Type 1         Grass
Type 2           NaN
HP               123
Attack           100
Defense           62
Sp. Atk           97
Sp. Def           81
Speed             68
Generation         6
Legendary      False
Name: 741, dtype: object

742 #                  674
Name           Pancham
Type 1        Fighting
Type 2             NaN
HP                  67
Attack              82
Defense             62
Sp. Atk             46
Sp. Def             48
Speed               43
Generation           6
Legendary        False
Name: 742, dtype: object

743 #                  675
Name           Pangoro
Type 1        Fighting
Type 2            Dark
HP                  95
Attack             124
Defense             78
Sp. Atk             69
Sp. Def             71
Speed               58
Generation           6
Legendary        False
Name: 743, dtype: object

744 #                 676
Name          Furfrou
Type 1         Normal
Type 2            NaN
HP                 75
Attack             80
Defense            60
Sp. Atk            65
Sp. Def            90
Speed             102
Generation          6
Legendary       False
Name: 744, dtype: object

745 #                 677
Name           Espurr
Type 1        Psychic
Type 2            NaN
HP                 62
Attack             48
Defense            54
Sp. Atk            63
Sp. Def            60
Speed              68
Generation          6
Legendary       False
Name: 745, dtype: object

746 #                      678
Name          MeowsticMale
Type 1             Psychic
Type 2                 NaN
HP                      74
Attack                  48
Defense                 76
Sp. Atk                 83
Sp. Def                 81
Speed                  104
Generation               6
Legendary            False
Name: 746, dtype: object

747 #                        678
Name          MeowsticFemale
Type 1               Psychic
Type 2                   NaN
HP                        74
Attack                    48
Defense                   76
Sp. Atk                   83
Sp. Def                   81
Speed                    104
Generation                 6
Legendary              False
Name: 747, dtype: object

748 #                 679
Name          Honedge
Type 1          Steel
Type 2          Ghost
HP                 45
Attack             80
Defense           100
Sp. Atk            35
Sp. Def            37
Speed              28
Generation          6
Legendary       False
Name: 748, dtype: object

749 #                  680
Name          Doublade
Type 1           Steel
Type 2           Ghost
HP                  59
Attack             110
Defense            150
Sp. Atk             45
Sp. Def             49
Speed               35
Generation           6
Legendary        False
Name: 749, dtype: object

750 #                              681
Name          AegislashBlade Forme
Type 1                       Steel
Type 2                       Ghost
HP                              60
Attack                         150
Defense                         50
Sp. Atk                        150
Sp. Def                         50
Speed                           60
Generation                       6
Legendary                    False
Name: 750, dtype: object

751 #                               681
Name          AegislashShield Forme
Type 1                        Steel
Type 2                        Ghost
HP                               60
Attack                           50
Defense                         150
Sp. Atk                          50
Sp. Def                         150
Speed                            60
Generation                        6
Legendary                     False
Name: 751, dtype: object

752 #                  682
Name          Spritzee
Type 1           Fairy
Type 2             NaN
HP                  78
Attack              52
Defense             60
Sp. Atk             63
Sp. Def             65
Speed               23
Generation           6
Legendary        False
Name: 752, dtype: object

753 #                    683
Name          Aromatisse
Type 1             Fairy
Type 2               NaN
HP                   101
Attack                72
Defense               72
Sp. Atk               99
Sp. Def               89
Speed                 29
Generation             6
Legendary          False
Name: 753, dtype: object

754 #                 684
Name          Swirlix
Type 1          Fairy
Type 2            NaN
HP                 62
Attack             48
Defense            66
Sp. Atk            59
Sp. Def            57
Speed              49
Generation          6
Legendary       False
Name: 754, dtype: object

755 #                  685
Name          Slurpuff
Type 1           Fairy
Type 2             NaN
HP                  82
Attack              80
Defense             86
Sp. Atk             85
Sp. Def             75
Speed               72
Generation           6
Legendary        False
Name: 755, dtype: object

756 #                 686
Name            Inkay
Type 1           Dark
Type 2        Psychic
HP                 53
Attack             54
Defense            53
Sp. Atk            37
Sp. Def            46
Speed              45
Generation          6
Legendary       False
Name: 756, dtype: object

757 #                 687
Name          Malamar
Type 1           Dark
Type 2        Psychic
HP                 86
Attack             92
Defense            88
Sp. Atk            68
Sp. Def            75
Speed              73
Generation          6
Legendary       False
Name: 757, dtype: object

758 #                 688
Name          Binacle
Type 1           Rock
Type 2          Water
HP                 42
Attack             52
Defense            67
Sp. Atk            39
Sp. Def            56
Speed              50
Generation          6
Legendary       False
Name: 758, dtype: object

759 #                    689
Name          Barbaracle
Type 1              Rock
Type 2             Water
HP                    72
Attack               105
Defense              115
Sp. Atk               54
Sp. Def               86
Speed                 68
Generation             6
Legendary          False
Name: 759, dtype: object

760 #                690
Name          Skrelp
Type 1        Poison
Type 2         Water
HP                50
Attack            60
Defense           60
Sp. Atk           60
Sp. Def           60
Speed             30
Generation         6
Legendary      False
Name: 760, dtype: object

761 #                  691
Name          Dragalge
Type 1          Poison
Type 2          Dragon
HP                  65
Attack              75
Defense             90
Sp. Atk             97
Sp. Def            123
Speed               44
Generation           6
Legendary        False
Name: 761, dtype: object

762 #                   692
Name          Clauncher
Type 1            Water
Type 2              NaN
HP                   50
Attack               53
Defense              62
Sp. Atk              58
Sp. Def              63
Speed                44
Generation            6
Legendary         False
Name: 762, dtype: object

763 #                   693
Name          Clawitzer
Type 1            Water
Type 2              NaN
HP                   71
Attack               73
Defense              88
Sp. Atk             120
Sp. Def              89
Speed                59
Generation            6
Legendary         False
Name: 763, dtype: object

764 #                    694
Name          Helioptile
Type 1          Electric
Type 2            Normal
HP                    44
Attack                38
Defense               33
Sp. Atk               61
Sp. Def               43
Speed                 70
Generation             6
Legendary          False
Name: 764, dtype: object

765 #                   695
Name          Heliolisk
Type 1         Electric
Type 2           Normal
HP                   62
Attack               55
Defense              52
Sp. Atk             109
Sp. Def              94
Speed               109
Generation            6
Legendary         False
Name: 765, dtype: object

766 #                696
Name          Tyrunt
Type 1          Rock
Type 2        Dragon
HP                58
Attack            89
Defense           77
Sp. Atk           45
Sp. Def           45
Speed             48
Generation         6
Legendary      False
Name: 766, dtype: object

767 #                   697
Name          Tyrantrum
Type 1             Rock
Type 2           Dragon
HP                   82
Attack              121
Defense             119
Sp. Atk              69
Sp. Def              59
Speed                71
Generation            6
Legendary         False
Name: 767, dtype: object

768 #                698
Name          Amaura
Type 1          Rock
Type 2           Ice
HP                77
Attack            59
Defense           50
Sp. Atk           67
Sp. Def           63
Speed             46
Generation         6
Legendary      False
Name: 768, dtype: object

769 #                 699
Name          Aurorus
Type 1           Rock
Type 2            Ice
HP                123
Attack             77
Defense            72
Sp. Atk            99
Sp. Def            92
Speed              58
Generation          6
Legendary       False
Name: 769, dtype: object

770 #                 700
Name          Sylveon
Type 1          Fairy
Type 2            NaN
HP                 95
Attack             65
Defense            65
Sp. Atk           110
Sp. Def           130
Speed              60
Generation          6
Legendary       False
Name: 770, dtype: object

771 #                  701
Name          Hawlucha
Type 1        Fighting
Type 2          Flying
HP                  78
Attack              92
Defense             75
Sp. Atk             74
Sp. Def             63
Speed              118
Generation           6
Legendary        False
Name: 771, dtype: object

772 #                  702
Name           Dedenne
Type 1        Electric
Type 2           Fairy
HP                  67
Attack              58
Defense             57
Sp. Atk             81
Sp. Def             67
Speed              101
Generation           6
Legendary        False
Name: 772, dtype: object

773 #                 703
Name          Carbink
Type 1           Rock
Type 2          Fairy
HP                 50
Attack             50
Defense           150
Sp. Atk            50
Sp. Def           150
Speed              50
Generation          6
Legendary       False
Name: 773, dtype: object

774 #                704
Name           Goomy
Type 1        Dragon
Type 2           NaN
HP                45
Attack            50
Defense           35
Sp. Atk           55
Sp. Def           75
Speed             40
Generation         6
Legendary      False
Name: 774, dtype: object

775 #                 705
Name          Sliggoo
Type 1         Dragon
Type 2            NaN
HP                 68
Attack             75
Defense            53
Sp. Atk            83
Sp. Def           113
Speed              60
Generation          6
Legendary       False
Name: 775, dtype: object

776 #                706
Name          Goodra
Type 1        Dragon
Type 2           NaN
HP                90
Attack           100
Defense           70
Sp. Atk          110
Sp. Def          150
Speed             80
Generation         6
Legendary      False
Name: 776, dtype: object

777 #                707
Name          Klefki
Type 1         Steel
Type 2         Fairy
HP                57
Attack            80
Defense           91
Sp. Atk           80
Sp. Def           87
Speed             75
Generation         6
Legendary      False
Name: 777, dtype: object

778 #                  708
Name          Phantump
Type 1           Ghost
Type 2           Grass
HP                  43
Attack              70
Defense             48
Sp. Atk             50
Sp. Def             60
Speed               38
Generation           6
Legendary        False
Name: 778, dtype: object

779 #                   709
Name          Trevenant
Type 1            Ghost
Type 2            Grass
HP                   85
Attack              110
Defense              76
Sp. Atk              65
Sp. Def              82
Speed                56
Generation            6
Legendary         False
Name: 779, dtype: object

780 #                               710
Name          PumpkabooAverage Size
Type 1                        Ghost
Type 2                        Grass
HP                               49
Attack                           66
Defense                          70
Sp. Atk                          44
Sp. Def                          55
Speed                            51
Generation                        6
Legendary                     False
Name: 780, dtype: object

781 #                             710
Name          PumpkabooSmall Size
Type 1                      Ghost
Type 2                      Grass
HP                             44
Attack                         66
Defense                        70
Sp. Atk                        44
Sp. Def                        55
Speed                          56
Generation                      6
Legendary                   False
Name: 781, dtype: object

782 #                             710
Name          PumpkabooLarge Size
Type 1                      Ghost
Type 2                      Grass
HP                             54
Attack                         66
Defense                        70
Sp. Atk                        44
Sp. Def                        55
Speed                          46
Generation                      6
Legendary                   False
Name: 782, dtype: object

783 #                             710
Name          PumpkabooSuper Size
Type 1                      Ghost
Type 2                      Grass
HP                             59
Attack                         66
Defense                        70
Sp. Atk                        44
Sp. Def                        55
Speed                          41
Generation                      6
Legendary                   False
Name: 783, dtype: object

784 #                               711
Name          GourgeistAverage Size
Type 1                        Ghost
Type 2                        Grass
HP                               65
Attack                           90
Defense                         122
Sp. Atk                          58
Sp. Def                          75
Speed                            84
Generation                        6
Legendary                     False
Name: 784, dtype: object

785 #                             711
Name          GourgeistSmall Size
Type 1                      Ghost
Type 2                      Grass
HP                             55
Attack                         85
Defense                       122
Sp. Atk                        58
Sp. Def                        75
Speed                          99
Generation                      6
Legendary                   False
Name: 785, dtype: object

786 #                             711
Name          GourgeistLarge Size
Type 1                      Ghost
Type 2                      Grass
HP                             75
Attack                         95
Defense                       122
Sp. Atk                        58
Sp. Def                        75
Speed                          69
Generation                      6
Legendary                   False
Name: 786, dtype: object

787 #                             711
Name          GourgeistSuper Size
Type 1                      Ghost
Type 2                      Grass
HP                             85
Attack                        100
Defense                       122
Sp. Atk                        58
Sp. Def                        75
Speed                          54
Generation                      6
Legendary                   False
Name: 787, dtype: object

788 #                  712
Name          Bergmite
Type 1             Ice
Type 2             NaN
HP                  55
Attack              69
Defense             85
Sp. Atk             32
Sp. Def             35
Speed               28
Generation           6
Legendary        False
Name: 788, dtype: object

789 #                 713
Name          Avalugg
Type 1            Ice
Type 2            NaN
HP                 95
Attack            117
Defense           184
Sp. Atk            44
Sp. Def            46
Speed              28
Generation          6
Legendary       False
Name: 789, dtype: object

790 #                714
Name          Noibat
Type 1        Flying
Type 2        Dragon
HP                40
Attack            30
Defense           35
Sp. Atk           45
Sp. Def           40
Speed             55
Generation         6
Legendary      False
Name: 790, dtype: object

791 #                 715
Name          Noivern
Type 1         Flying
Type 2         Dragon
HP                 85
Attack             70
Defense            80
Sp. Atk            97
Sp. Def            80
Speed             123
Generation          6
Legendary       False
Name: 791, dtype: object

792 #                 716
Name          Xerneas
Type 1          Fairy
Type 2            NaN
HP                126
Attack            131
Defense            95
Sp. Atk           131
Sp. Def            98
Speed              99
Generation          6
Legendary        True
Name: 792, dtype: object

793 #                 717
Name          Yveltal
Type 1           Dark
Type 2         Flying
HP                126
Attack            131
Defense            95
Sp. Atk           131
Sp. Def            98
Speed              99
Generation          6
Legendary        True
Name: 793, dtype: object

794 #                          718
Name          Zygarde50% Forme
Type 1                  Dragon
Type 2                  Ground
HP                         108
Attack                     100
Defense                    121
Sp. Atk                     81
Sp. Def                     95
Speed                       95
Generation                   6
Legendary                 True
Name: 794, dtype: object

795 #                 719
Name          Diancie
Type 1           Rock
Type 2          Fairy
HP                 50
Attack            100
Defense           150
Sp. Atk           100
Sp. Def           150
Speed              50
Generation          6
Legendary        True
Name: 795, dtype: object

796 #                             719
Name          DiancieMega Diancie
Type 1                       Rock
Type 2                      Fairy
HP                             50
Attack                        160
Defense                       110
Sp. Atk                       160
Sp. Def                       110
Speed                         110
Generation                      6
Legendary                    True
Name: 796, dtype: object

797 #                             720
Name          HoopaHoopa Confined
Type 1                    Psychic
Type 2                      Ghost
HP                             80
Attack                        110
Defense                        60
Sp. Atk                       150
Sp. Def                       130
Speed                          70
Generation                      6
Legendary                    True
Name: 797, dtype: object

798 #                            720
Name          HoopaHoopa Unbound
Type 1                   Psychic
Type 2                      Dark
HP                            80
Attack                       160
Defense                       60
Sp. Atk                      170
Sp. Def                      130
Speed                         80
Generation                     6
Legendary                   True
Name: 798, dtype: object

799 #                   721
Name          Volcanion
Type 1             Fire
Type 2            Water
HP                   80
Attack              110
Defense             120
Sp. Atk             130
Sp. Def              90
Speed                70
Generation            6
Legendary          True
Name: 799, dtype: object

In [39]:
df.loc[df['Type 1']=='Fire']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [40]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [41]:
df.sort_values(['Name'], ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [42]:
df.sort_values(['Name','HP'], ascending=[0,1])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [43]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [44]:
df['Total']=df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [45]:
df=df.drop(columns=['Total'])
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [47]:
df['Total']=df.iloc[:,3:9].sum(axis=1)
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,273
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,345
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,445
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,545
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,244